<%= content_for(:title, "Home") %>

<div class="main-page container">
  <h1>Share every. single. moment. with Tweeter</h1>
  <div class="row">
    <div class="photo">
      <%= image_tag("tweeter-bird.png", height: '40%', width: '40%', class: "tweeter-bird") %>
    </div>
  </div>
  <%= link_to "Sign up for Tweeter", signup_path, class: "signup-button btn btn-default" %>
</div>
